@using System.Web.Mvc.Html
<div id="users-form-container">
    <form id="users-form" action="#" onsubmit="return false;">
        @(Html.Hidden("User.Id", 0))
        <div id="organizational-users-tooltip" class="tooltip">
            This is also your username. If you change this while you are signed on, you will
            be immediately signed out and have to log in again with your new username (email
            address).
        </div>
        
        <label class="info" id="info_ou_email">?</label>
       
        <div>   
            <label for="user_emailaddress" id="user_emailaddress_label">Email Address (This is also your Username)</label>
            <div>
                @(Html.TextBox("User.EmailAddress"))
            </div>
        </div>

        <div class="content_user_left">
            <label for="User_FirstName">First Name</label>
            <div>
                @(Html.TextBox("User.FirstName"))
            </div>
        </div>
        <div class="content_user_right">
            <label for="User_LastName">Last Name</label>
            <div>
                @(Html.TextBox("User.LastName"))
            </div>
        </div>

        <div class="content_user_left">
            <div class="users-password">
                <label for="User.Password">Password</label>
                <div>
                    @(Html.TextBox("User.Password"))
                </div>
            </div>
        </div>
        <div class="content_user_right">
            <div class="users-password">
                <label for="User.ConfirmPassword">Confirm Password</label>
                <div>
                    @(Html.TextBox("User.ConfirmPassword"))
                </div>
            </div>
        </div>
            
        <div id="users-grantAccess">
        </div>


        <div class="timezone">
            <label for="User.TimeZone">TimeZone</label>
            <div class="select-container">
                @*@(Html.TimeZoneList("User.TimeZone"))*@
            </div>
        </div>
    
        <div class="content_column_left">
            <div class="form-check">
                @(Html.CheckBox("User.Enabled"))
                <label for="User_Enabled">Enabled</label>
                
            </div>

            <div class="form-check">
                @(Html.CheckBox("User.Administrator"))
                <label for="User_Administrator">Administrator</label> 
            </div>
        
            <div class="form-check">
                @(Html.CheckBox("User.GrantAccessToBoards"))
                <label for="grantAccessToBoards">Automatically give this user access to all boards</label>            
            </div>
        </div>

        <div class="content_column_right">
            <label for="User_DateFormat">Date Format</label>
            <div class="select-container user_dateformat">
                @*@(Html.DateFormatList("User.DateFormat"))*@
            </div>
        </div>



   

        <div class="clear"></div>
        <br /><br /><br />
        <div>
            <input id="users-form-save" class="button" name="users-form-save" type="button" value="Save User" />
            <input id="users-form-cancel" class="button cancel" name="users-form-cancel" type="button" value="Cancel" />
        </div>
    </form>
</div>
